* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none; 
}

.main {
  background: #ffbf9b;
  padding: 31px 29px;

  @media (max-width: 425px) {
    padding: 20px 15px;
  }
}

.container {
  min-height: 100vh;
  background-color: white;
  border-radius: 30px;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
