.modalWindow {
  border-radius: 30px;
  background-color: var(--color-bg-primary);

  @media (max-width: 768px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dragContainer {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
  }
}

.dragLine {
  display: inline-block;
  pointer-events: none;
  background: #d9d9d9;
  height: 10px;
  width: 50px;
  border-radius: 10px;
}
