::-webkit-scrollbar {
  display: none;
}

.error {
  border-color: #e74c3c !important;
  background-color: #fdf2f2;
}

.error_text {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.cart_items_section {
  padding: 0 35px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.form_group_container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-bottom: 45px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_label {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.form_input {
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 13px 18px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: var(--color-text);
}

.form_area {
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 13px 18px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: var(--color-text);
  padding-top: 20px;
  padding-bottom: 80px;

  @media (max-width: 768px) {
    height: 100px;
    padding: 15px;
    font-size: 12px;
  }

  @media (max-width: 375px) {
    padding: 6px 8px;
  }
}

.delivery_time_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delivery_time {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.delivery_time_text {
  display: flex;
  align-items: center;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.timer_icon {
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.arrowBtn {
  all: unset;
  cursor: pointer;
}

.arrow_icon {
  margin-left: 9px;
}

.delivery_time_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background: var(--color-bg-primary);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  li {
    padding: 2px 23px;
  }
}
