/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  transition: transform 0.15s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 285px;  
}

/* Image */
.image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  padding: 24px 37px;
  background-color: #fff7ee;
  margin-bottom: 15px;
}

/* Body */
.body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

/* Title */
.title {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* Description */
.description {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #b1b1b1;
  margin-top: 7px;
  margin-bottom: 13px;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Price */
.price {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  b {
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

/* Button */
.button {
  cursor: pointer;
  background: #ff6900;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  transition: background 0.2s ease;
}

.button:hover {
  background: #e55e00;
}
