.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(1fr, 430px));
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1160px) {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 480px) {  
    gap: 50px;
  }
}

.title {
  margin: 30px 0;
}
