.card {
  background: #fff;
  border-radius: 12px;
  transition: transform 0.15s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  @media (max-width: 768px) {
    gap: 2rem;
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}

.imageContainer {
  background-color: #fff7ee;
  height: 260px;
  padding: 24px 37px;
  margin-bottom: 15px;
  border-radius: 15px;

  @media (max-width: 1440px) {
    height: 200px;
    padding: 12px 18px;
  }

  @media (max-width: 1024px) {
    width: 30vw;
  }

  @media (max-width: 768px) {
    height: 25vw;
    padding: 8px 12px;
  }

  @media (max-width: 480px) {
    height: 100%;
    width: 100%;
    padding: 24px 37px;
    margin-bottom: 15px;
    border-radius: 15px;
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  object-fit: contain;

  transition: transform 0.35s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1024px) {
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 20px 0;
  }

  @media (max-width: 768px) {
    padding: 15px 0;
  }

  @media (max-width: 480px) {
    padding: 0;
    justify-content: space-between;
    width: 100%;
  }
}

.title {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 480px) {
    font-size: 22px;
  }
}

.description {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #b1b1b1;
  margin-top: 7px;
  margin-bottom: 13px;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 21px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media (max-width: 1024px) {
    gap: 3rem;
  }

  @media (max-width: 768px) {
    gap: 2rem;
  }

  @media (max-width: 480px) {
    gap: 3rem;
    width: 100%;
  }

  @media (max-width: 375px) {
    gap: 1.5rem;
  }
}

.price {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: nowrap;

  b {
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    font-size: 16px;

    b {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    font-size: 20px;

    b {
      font-size: 20px;
    }
  }
}

.button {
  cursor: pointer;
  background: #fffaf4;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  height: 42px;
  max-width: 125px;
  transition: background 0.2s ease;

  @media (max-width: 768px) {
    height: 36px;
    max-width: 100px;
    font-size: 12px;
  }

  @media (max-width: 480px) {
    height: 42px;
    max-width: 125px;
    font-size: 14px;
    padding: 14px 22px;
  }

  @media (max-width: 375px) {
    height: 36px;
    max-width: 100px;
    font-size: 12px;
  }
}

.counterButton {
  height: 42px;
  width: 42px;
  border-radius: 15px;
  transition: all 0.2s ease;
  border: 1px solid #fe5f00 !important;

  @media (max-width: 768px) {
    height: 32px;
    width: 32px;
  }

  @media (max-width: 480px) {
    height: 42px;
    width: 42px;
  }

  @media (max-width: 375px) {
    height: 32px;
    width: 32px;
  }
}

.counterButton:hover {
  background: #fff3e5 !important;
  border: 1px solid transparent !important;
  color: var(--color-brand) !important;
}

.quantityControls {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    gap: 8px;
  }

  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
  }

  @media (max-width: 375px) {
    gap: 6px;
  }
}

.quantityControls span {
  font-size: 16px;
  min-width: 20px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
    min-width: 18px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    min-width: 20px;
  }
}
