@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.card {
  width: 285px;
  height: 422px;
  border-radius: 16px;

  background:
    linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);

  @media (max-width: 1200px) {
    width: 250px;
    height: 302px;
  }

  @media (max-width: 1024px) {
    width: 100%;
    height: 215px;
  }

  @media (max-width: 520px) {
    height: 150px;
  }

  @media (max-width: 480px) {
    height: 360px;
  }
}
