button {
  all: unset;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  width: 45px;
  height: 45px;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;

  color: #888888;

  @media (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.buttons_container {
  display: flex;
  gap: 12px;

  @media (max-width: 424px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.navButton {
  border: 1px solid #fe5f00;
  color: #fe5f00;
}

.pageButton {
  border: 1px solid #ededed;
}

.navButton:disabled,
.pageButton:disabled {
  border: 1px solid #ededed;
  color: #ededed;
}

.pageButton.active {
  background-color: #fe5f00;
  color: #fff;
}

.pageInfo {
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}
