.input {
  width: 100%;
  height: 50px;
  padding-left: 55px;
  padding-right: 0.75rem;
  border: none;
  border-radius: 15px;
  background-color: #f9f9f9;
  font-size: 0.875rem;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 1024px) {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &::placeholder {
    color: #c0c0c0;
  }

  &:focus {
    outline: none;
  }
}

.input_icon {
  all: unset;
  position: absolute;
  color: #adadad;
  left: 22px;
  z-index: 40;

  @media (max-width: 1024px) {
    left: 16px;
  }

  @media (max-width: 425px) {
    top: 17px;

    svg {
      fill: #fe5f00;
      width: 15px;
    }
  }
}

.xbtn {
  position: absolute;
  top: 3px;
  right: 0;
  transition: transform 0.2s ease;
  color: #adadad;
  border: none;
  cursor: pointer;
  z-index: 30;
}

.searchInput_popup {
  position: fixed;
  top: 10%;
  left: 40%;
  width: 762px;
  padding-top: 13px;
  padding-bottom: 9px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  background: white;
  z-index: 100;
}

.item {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 19px;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon img {
  width: 100%;
  height: 100%;
}

.name {
  margin: 0 13px;
}

 