.topbar {
  position: sticky;
  top: 0;
  background-color: white;

  z-index: 10;
}

.topbar_container {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
} 
