.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(20px);
  z-index: 10;
}

.topbar_container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px 66px 40px 66px;
  flex-wrap: nowrap;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 20px 2rem 36px 2rem;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 425px) {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px 2rem 20px 2rem;
  }

  @media (max-width: 375px) {
    gap: 1rem;
    padding: 1rem;
  }
}

.hamburger_icon {
  width: 24px;
  height: 24px;
}

.hamburger {
  all: unset;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: 15px;
  height: 3rem;
  padding: 0 20px;
  cursor: pointer;
}
