.cartDrawer {
  width: 28%;
  min-width: 395px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px #0000000a;

  position: fixed;
  z-index: 60;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  @media (max-width: 1024px) {
    width: 100%;
    min-width: 100%;
  }
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyCartImage {
  width: 100%;
}

.emptyCartTitle {
  font-family: Nunito;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

.emptyCartDescription {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-text-secondary);

  margin-top: 6px;
  margin-bottom: 37px;
}

.emptyCartButton {
  color: var(--color-bg-primary) !important;
  background-color: var(--color-brand) !important;
  height: 55px;

  @media (max-width: 480px) {
    width: 100%;
  }
}
