@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(10px);
  }
}

.cartDrawer {
  width: 28%;
  min-width: 395px;
  background: #f4f1ee;
  box-shadow: 0px 2px 4px 0px #0000000a;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    width: 100%;
    min-width: 100%;
  }
}

.cartDrawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  p {
    font-family: Nunito;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  b {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
  }
}

.closeBtn {
  all: unset;
  cursor: pointer;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
  scroll-behavior: smooth;

  min-height: 60vh;
  max-height: 78vh;
  padding-bottom: 3.5vh;

  @media (max-height: 1000px) {
    padding-bottom: 10vh;
  }

  @media (max-height: 700px) {
    padding-bottom: 15vh;
  }
}

.cartFooter {
  position: absolute;
  bottom: 0;
  padding: 38px 35px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
  width: 100%;

  background-color: var(--color-bg-primary);

  @media (max-height: 1000px) {
    padding: 19px 35px;
  }
}

.cartFooter__info {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-wrap: nowrap;
}

.info__string {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
}

.dashedline {
  width: 100%;
  height: 100%;
  margin-bottom: 7px;
  border-bottom: 1px dashed #dfdfdf;
}

.cartFooter__button {
  background: var(--color-brand) !important;
  color: var(--color-bg-primary) !important;
  min-height: 55px;
  transition: all 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #fff3e5 !important;
      color: var(--color-brand) !important;

      svg {
        fill: var(--color-brand) !important;
        animation: toRight 0.3s ease forwards;
      }
    }
  }
}
