.dropdown {
  position: absolute;
  top: 120%;
  left: 0%;
  width: 100%;
  max-height: 60vh;
  overflow: auto;
  padding-top: 13px;
  padding-bottom: 9px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  background: var(--color-bg-primary);
  z-index: 50;

  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 19px;

  cursor: pointer;
  border-radius: 8px;
  margin: 2px 4px;
  transition: all 0.2s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #fffaf6;
    }
  }
}

.search_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  transition: width 0.4s ease;
  background-color: #f9fafb;

  @media (max-width: 1024px) {
    border: none;
    width: 50px;
    height: 50px;

    &:focus-within {
      border: none;
      position: absolute;
      width: 90%;
      left: 5%;

      input {
        opacity: 1;
        z-index: 50;
      }
    }
  }

  @media (max-width: 520px) {
    left: 0%;
  }

  @media (max-width: 425px) {
    background: transparent;

    &:focus-within {
      width: auto;
      left: 10%;
      right: 10%;
    }
  }

  @media (max-width: 375px) {
    &:focus-within {
      top: 50px;
    }
  }
}

.input {
  padding-left: 55px;
  z-index: 45;

  &:focus {
    outline: none;
    border: none;
    margin-right: 0;
    opacity: 1;
    z-index: 30;
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}

.input_icon {
  all: unset;
  position: absolute;
  color: #adadad;
  left: 22px;
  z-index: 52;
  pointer-events: none;

  @media (max-width: 1024px) {
    left: 16px;
  }

  @media (max-width: 425px) {
    svg {
      height: 20px;
      width: 20px;
      fill: #fe5f00;
    }
  }
}

.xbtn {
  position: absolute;
  top: 10px;
  right: 12px;
  transition: transform 0.2s ease;
  background-color: transparent;
  color: #adadad;
  border: none;
  cursor: pointer;
  z-index: 60;
}

.not_found {
  font-family: Nunito;
  font-weight: var(--font-weight-regular);
  font-style: Regular;
  font-size: var(--font-size-md);
  line-height: 100%;
  letter-spacing: 0%;
  color: #858585;

  padding: 12px 19px;
}

.img_container {
  width: 30px;
}

.img {
  width: 100%;
  height: 100%;
}

.highlightSpan {
  font-family: "Nunito";
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.info {
  font-family: "Nunito";
  text-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: 100%;
  letter-spacing: 0%;
  color: black;

  margin: 0 13px;
}

.price {
  font-family: "Nunito";
  text-wrap: nowrap;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: 100%;
  letter-spacing: 0%;
  color: #858585;
  margin-left: 14px;
}
