.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(20px);
  z-index: 10;
}

.topbar_container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 40px 66px;
  flex-wrap: nowrap;

  @media (max-width: 425px) {
    padding: 43px 20px;
  }
}

.hamburger_icon {
  width: 24px;
  height: 24px;
}

.hamburger {
  all: unset;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
  height: 3rem;
  padding: 0 20px;
  cursor: pointer;
}
