.topbar {
  background-color: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topbar_container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 40px 66px;

  @media (max-width: 1200px) {
    justify-content: start;
    gap: 1rem;
  }

  @media (max-width: 425px) {
    padding: 43px 20px;
  }
}

.hamburger {
  display: none;
  @media (max-width: 1440px) {
    all: unset;
    width: max-content;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-secondary);
    border-radius: 15px;
    height: 3rem;
    padding: 0 20px;
    cursor: pointer;

    .hamburger_icon {
      width: 24px;
      height: 24px;
    }
  }
}
