.header {
  border-bottom: 1px solid #ededed;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_title {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.logo_description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(156, 163, 175);
  line-height: 0.75rem;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 2.5rem;
  min-width: 160px;

  @media (max-width: 768px) {
    margin: 0 0.5rem;
  }

  svg {
    z-index: 10;
    position: absolute;
    left: 0.75rem;
  }
}

.search_input {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #f9f9f9;
  color: #c0c0c0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.search_input::file-selector-button {
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  font-weight: 500;
}

.search_input::placeholder {
  color: hsl(var(--muted-foreground));
}

.search_input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--ring)),
    0 0 0 4px var(--ring-offset-background);
  border-color: hsl(var(--ring));
}

.search_input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.buttons_group {
  display: flex;
  align-items: center;
  gap: 15px;
}
