.container {
  padding: 50px;

  @media (max-width: 1024px) {
    padding: 50px 30px;
  }

  @media (max-width: 480px) {
    padding: 25px 15px;
  }
}

.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.textContainer {
  max-width: 445px;
  width: 100%;
  gap: 10px;
}

.title {
  font-family: Nunito;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.3%;

  @media (max-width: 768px) {
    font-size: clamp(18px, 5vw, 40px);
  }
}

.text {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3%;
  color: #999999;
  padding-bottom: 45px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

  @media (max-width: 375px) {
    flex-direction: column;
  }

  button {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    height: 50px;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 20px;
    }

    @media (max-width: 375px) {
      width: 100%;
      padding: 10px 15px;
    }
  }
}

.btn_back {
  border: 1px solid var(--color-brand);
  border-radius: 15px;
  color: var(--color-brand);
  background-color: transparent;
}

.btn_refresh {
  border: 1px solid #c7c7c7;
  border-radius: 15px;
  color: #c7c7c7;
  background-color: transparent;
}

.arrow {
  transform: rotate(180deg);
  fill: var(--color-brand);
}

.img {
  width: 100%;
  height: 100%;
  max-width: 340px;
  max-height: 346px;
}
