.active {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  gap: 13px;
  transition: all 0.5s ease;

  width: 180px;
  max-width: none;

  background-color: var(--color-brand);
  color: var(--color-bg-primary);

  .cart {
    path {
      stroke: var(--color-bg-primary);
    }
  }

  .arrow {
    display: none;
    fill: var(--color-brand);
    transform: rotate(180deg);
    width: 24px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #fff3e5 !important;
      color: var(--color-brand) !important;
      border: 1px solid #fff3e5 !important;

      .line {
        background-color: var(--color-brand) !important;
      }

      .icon {
        flex-direction: row-reverse;
      }

      .cart {
        display: none;
      }

      .arrow {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    width: 80px;
    font-size: 16px;
    padding: 10px 15px;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 13px;

  @media (max-width: 768px) {
    display: none;
  }
}

.line {
  width: 1px;
  height: 25px;
  background-color: var(--color-bg-primary);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-bg-secondary);
    }
  }
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 40px;
  cursor: pointer;
}

.quantity {
  @media (max-width: 375px) {
    display: none;
  }
}
