@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(10px);
  }
}

.active {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  gap: 13px;
  transition: all 0.5s ease;

  max-width: none;

  background-color: var(--color-brand);
  color: var(--color-bg-primary);

  .cart {
    path {
      stroke: var(--color-bg-primary);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #fff3e5 !important;
      color: var(--color-brand) !important;
      border: 1px solid #fff3e5 !important;

      .line {
        background-color: var(--color-brand) !important;
      }

      .icons {
        flex-direction: row-reverse;
        width: 35.6px;
      }

      .cart {
        display: none;
      }

      .arrow {
        display: block;
        position: absolute;
        left: 15px;
      }
    }
  }

  @media (max-width: 768px) {
    width: 80px;
    font-size: 16px;
    padding: 10px 15px;
  }

  @media (max-width: 425px) {
    width: 60px;
  }

  @media (max-width: 375px) {
    width: 50px;
  }
}

.arrow {
  display: none;
  fill: var(--color-brand);
  width: 24px;
  animation: toRight 0.2s ease-in forwards;
}

.info {
  display: flex;
  align-items: center;
  gap: 13px;

  @media (max-width: 768px) {
    display: none;
  }
}

.line {
  width: 1px;
  height: 25px;
  background-color: var(--color-bg-primary);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-bg-secondary);
    }
  }
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;

  cursor: pointer;
}

.quantity {
  @media (max-width: 375px) {
    display: none;
  }
}
