.categories {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  padding: 7px 5px;
  background-color: #fafafa;
  border-radius: 1rem;
  max-height: 55px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1200px) {
    display: flex;
    max-width: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
  }

  @media (max-width: 768px) {
    display: flex;
  }

  @media (max-width: 480px) {
    background-color: transparent;
    flex-wrap: wrap;
    height: auto;
    max-height: none;
    overflow-x: hidden;
    scroll-behavior: none;
    scroll-snap-type: none;
  }
}

.category {
  all: unset;
  cursor: pointer;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  font-weight: 700;
  border-radius: 1rem;
  height: 100%;
  scroll-snap-align: center;

  padding: 10px 16px;

  margin: 5px 0;

  @media (max-width: 480px) {
    padding: 5px 8px;
    border-radius: 0.5rem;
  }
}
