.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #fe5f00;
  padding: 14px 22px;
  border-radius: 15px;
  color: var(--color-brand);
  font-size: var(--font-size-md);
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 0 10px;
    gap: 0.25rem;
    border: none;
  }

  @media (max-width: 425px) {
    padding: 0;
  }
}
