.cart_items_section {
  padding: 0 35px;
  border-bottom: 1px solid #f4f1ee;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.form_group_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
  padding-bottom: 45px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_label {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.form_input {
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 13px 18px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: var(--color-text);
}
