::-webkit-scrollbar {
  width: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d99e;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgba(57, 57, 57, 0.3);
}

.modalWindow {
  position: fixed;

  top: 50%;
  /* left: 20%;
  right: 20%; */
  left: 5%;
  right: 5%;
  translate: 0 -50%;

  /* max-width: 1000px;
  min-width: 320px;
  width: 90vw; */

  @media (min-width: 1024px) {
    /* width: 70vw;
    min-width: 700px; */
  }

  @media (max-width: 768px) {
    /* min-width: none; */

    left: 5%;
    right: 5%;
    translate: unset;
    top: unset;
    bottom: 0;
  }

  @media (max-width: 425px) {
    left: 30px;
    right: 30px;
  }
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 37px 40px;

  height: 580px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0 40px 0px 40px;
    min-width: none;
    height: 80vh;
  }

  @media (max-height: 1000px) {
    height: 93vh;
  }

  @media (max-width: 480px) {
    padding: 0 20px 0px 20px;
  }
}

.dragLine {
  display: none;

  @media (max-width: 768px) {
    display: block;

    position: absolute;
    top: 20px;

    left: 50%;
    translate: -50% 0;

    pointer-events: none;
    z-index: 110;
  }
}

.imageContainer {
  max-width: 450px;
  max-height: 580px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.body {
  overflow-y: auto;
  padding-right: 20px;
  margin-bottom: 30px;
  scroll-behavior: smooth;

  @media (max-width: 768px) {
    padding-right: 0px;
    overflow: hidden;
    height: max-content;
  }
}

.header {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  font-family: "Nunito";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 10px;
}

.description {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 5px;
}

.ingredients {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 20px;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  gap: 1px;
  border-radius: 30px;
  background: #ececec;
  padding: 2px;
}

.selector {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background: #fff;
    color: black;
  }
}

.toppingsSection {
  margin-top: 30px;
}

.toppingsTitle {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.toppings {
  display: grid;
  grid-template-columns: repeat(2, minmax(125px, 1fr));
  place-items: center;
  gap: 10px;
  height: 420px;

  @media (max-width: 1024px) {
    gap: 5px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(125px, 1fr));
    height: 100%;
  }

  @media (max-width: 520px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.topping {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 130px;
  height: 100%;
  padding: 12px 10px;
  border-radius: 15px;
  border: 2px solid transparent;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 2px solid var(--color-brand);

      .toppingName {
        color: var(--color-brand);
      }

      .toppingPrice {
        color: var(--color-brand);
      }

      .toppingImg {
        transform: scale(1.1);
      }
    }
  }

  &.active {
    border: 2px solid var(--color-brand);
  }
}

.toppingCheck {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;

  border: 1.5px solid var(--color-brand);
  border-radius: 50%;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 768px) {
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.toppingImg {
  max-height: 110px;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.toppingName {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  transition: color 0.3s ease;
}

.toppingPrice {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  transition: color 0.3s ease;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  @media (max-width: 768px) {
    position: sticky;
    padding: 30px 0;
    bottom: 0;
    z-index: 60;
  }
}

.bottomBtn {
  color: var(--color-bg-primary);
  background-color: var(--color-brand);
  width: 100%;
  height: 50px;
}
