/* -------------------- CLOSE BUTTON -------------------- */
.xbtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  background: var(--color-bg-primary);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  padding: 15px;
  z-index: 100;

  @media (max-width: 1024px) {
    right: 15px;
    top: 15px;
  }
}

/* -------------------- PAGE LAYOUT -------------------- */
.pizzaHalvesPage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 40px;

  @media (max-height: 900px) {
    overflow-y: auto;
    scroll-snap-type: mandatory;
    height: 80vh;
  }

  @media (max-width: 1440px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: 80vh;
    padding: 25px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}

/* -------------------- LEFT GRID WITH PIZZAS -------------------- */
.pizzaHalvesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 500px;
  overflow-y: auto;
  scroll-snap-type: mandatory;

  @media (max-width: 1024px) {
    min-width: 100px;
  }

  @media (max-width: 768px) {
    min-width: unset;
    overflow: unset;
    scroll-snap-type: unset;
    order: 1;
  }
}

.pizzaHalvesTitle {
  margin: 20px 0;
  font-size: 26px;

  @media (max-width: 768px) {
    font-size: clamp(16px, 5vw, 32px);
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.pizzaHalfGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
  gap: 20px;
  height: 800px;
  width: 100%;
  padding: 20px 0px;

  @media (max-height: 1180px) {
    height: 80vh;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    height: auto;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 10px;
    padding: 0;
  }
}

.pizzaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.pizzaImage {
  width: 100%;
  height: auto;
  object-fit: cover;

  &.active {
    border: 2px solid var(--color-brand);
    border-radius: 10px;
  }

  @media (hover: hover) and (pointer: fine) {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.pizzaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  @media (max-width: 1024px) {
    font-size: clamp(10px, 2.5vw, 16px);
  }

  @media (max-width: 768px) {
    font-size: clamp(10px, 2.5vw, 18px);
  }
}

.pizzaPrice {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  color: var(--color-text-secondary);

  @media (max-width: 768px) {
    font-size: clamp(8px, 2.5vw, 16px);
  }
}

/* -------------------- RIGHT SIDE PIZZA BUILDER -------------------- */

.pizzaBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  gap: 20px;
  padding-top: 20px;

  @media (max-width: 1024px) {
    max-width: 270px;
  }

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    max-width: none;
  }

  @media (max-width: 480px) {
    padding-top: 0;
    width: 100%;
    gap: 10px;
  }

  @media (max-width: 375px) {
    min-width: 220px;
  }
}

.choosePizzaHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  @media (max-height: 900px) and (min-width: 768px) {
    height: 80vh;
  }
}

.pizzaBaseImages {
  display: flex;
  width: 100%;
  min-width: 100px;

  @media (max-width: 768px) {
    margin: 0 auto;
    width: 30vh;
    max-height: 30vh;
  }

  @media (max-width: 480px) {
    width: 20vh;
    max-height: 20vh;
  }
}

.leftHalf,
.rightHalf {
  width: 50%;
  transition: transform 0.5s ease;
}

.leftHalf {
  transform: translateX(-10%);
}

.rightHalf {
  transform: translateX(10%);
}

.joined .leftHalf,
.joined .rightHalf {
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .leftHalf {
    transform: translateX(-8%);
  }
  .rightHalf {
    transform: translateX(8%);
  }
}

@media (max-width: 768px) {
  .leftHalf {
    transform: translateX(-5%);
  }
  .rightHalf {
    transform: translateX(5%);
  }
}

@media (max-width: 480px) {
  .leftHalf,
  .rightHalf {
    transform: translateX(0);
  }
}

.choosePizzaHalfGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 1200px) and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media (max-height: 800px) and (min-width: 768px) {
    display: none;
  }
}

.choosePizzaHalfBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 12px 16px;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

  span {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 21px;
    color: var(--color-text-secondary);
    padding-right: 10px;

    @media (max-width: 768px) {
      font-size: clamp(16px, 2.5vw, 24px);
    }

    @media (max-width: 425px) {
      padding-right: 8px;
      font-size: clamp(12px, 2.5vw, 20px);
    }

    @media (max-width: 375px) {
      font-size: clamp(10px, 2.5vw, 18px);
    }
  }

  @media (max-width: 1200px) and (min-width: 768px) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 480px) {
    gap: 10px;
    padding: 8px 12px;
  }

  @media (max-width: 320px) {
    padding: 6px 8px;
  }
}

.pizzaBaseImg {
  width: 68px;
  height: auto;
  object-fit: contain;

  @media (max-width: 480px) {
    width: 48px;
  }
}

.pizzaDescriptionBlock {
}

.pizzaName {
  display: flex;
  margin-bottom: 5px;

  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: nowrap;

  @media (max-width: 1200px) and (min-width: 768px) {
    text-wrap: wrap;
    margin-bottom: 10px;
  }

  @media (max-width: 1024px) {
    font-size: clamp(10px, 2.5vw, 16px);
  }

  @media (max-width: 768px) {
    font-size: clamp(10px, 2.5vw, 18px);
  }
}

.pizzaDescription {
  display: flexbox;
  color: var(--color-text-secondary);

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: clamp(8px, 2.5vw, 16px);
  }
}

/* -------------------- PARAMS SECTION -------------------- */
.params {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 25px 0;

  @media (max-height: 900px) {
    padding: 0 0 20px 0;
  }

  @media (max-width: 480px) {
    padding: 5px 0 0 0;
    gap: 10px;
  }
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  gap: 1px;
  border-radius: 30px;
  background: #ececec;
  padding: 2px;

  @media (max-width: 768px) {
    height: 45px;
  }

  @media (max-width: 480px) {
    height: 35px;
  }
}

.selector {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background: #fff;
    color: black;
  }

  @media (max-width: 768px) {
    font-size: clamp(12px, 2.5vw, 16px);
  }
}

.addToCart {
  display: flex;
  width: 100%;
  gap: 15px;

  @media (max-width: 480px) {
    gap: 10px;
  }
}

.addToCartButton {
  width: 100%;
  background-color: var(--color-brand);
  color: var(--color-bg-primary);
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    height: 50px;
    font-size: clamp(14px, 2.5vw, 18px);
  }
}
