.pizzaHalvesPage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 40px;

  @media (max-width: 1440px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: 80vh;
    padding: 25px;
    overflow-y: auto;
    scroll-snap-type: mandatory;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}

/* --- LEFT GRID WITH PIZZAS --- */
.pizzaHalvesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: auto;
  min-width: 500px;
  overflow-y: auto;
  scroll-snap-type: mandatory;

  @media (max-width: 1024px) {
    min-width: 100px;
  }

  @media (max-width: 768px) {
    min-width: unset;
    overflow: unset;
    scroll-snap-type: unset;
    order: 1;
  }
}

.pizzaHalvesTitle {
  margin: 20px 0;
  font-size: 26px;

  @media (max-width: 768px) {
    font-size: clamp(16px, 5vw, 32px);
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.pizzaHalfGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
  gap: 20px;
  height: 800px;
  width: 100%;
  padding: 20px 0px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  @media (max-width: 768px) {
    height: auto;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 10px;
    padding: 0;
  }
}

.pizzaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.pizzaImage {
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (hover: hover) and (pointer: fine) {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.pizzaTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  @media (max-width: 1024px) {
    font-size: clamp(10px, 2.5vw, 16px);
  }

  @media (max-width: 768px) {
    font-size: clamp(10px, 2.5vw, 18px);
  }
}

.pizzaPrice {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  color: var(--color-text-secondary);

  @media (max-width: 768px) {
    font-size: clamp(8px, 2.5vw, 16px);
  }
}

/* --- RIGHT SIDE PIZZA BUILDER --- */
.choosePizzaHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.pizzaBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  gap: 20px;
  padding-top: 20px;

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 400px;
    width: auto;
    min-width: 250px;
  }

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
    max-width: none;
    min-width: none;
  }

  @media (max-width: 480px) {
    width: 100%;
    max-width: none;
    min-width: 100%;
    gap: 10px;
  }
}

.pizzaBaseImages {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 400px;
  min-width: none;
  height: auto;
  margin-bottom: 25px;

  @media (max-width: 1024px) {
    max-width: 250px;
  }

  @media (max-width: 768px) {
    width: 100%;
    max-width: none;
    min-width: none;
    justify-content: center;
    margin: 0;
  }
}

.leftHalf,
.rightHalf {
  width: 100%;
  max-width: 250px;
  min-width: 100px;

  @media (max-width: 480px) {
    width: auto;
    max-height: 250px;
  }
}

.choosePizzaHalfGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.choosePizzaHalfBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 12px 16px;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

  span {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--color-text-secondary);
    padding-right: 10px;

    @media (max-width: 768px) {
      font-size: clamp(16px, 2.5vw, 24px);
    }

    @media (max-width: 425px) {
      padding-right: 8px;
      font-size: clamp(12px, 2.5vw, 20px);
    }

    @media (max-width: 375px) {
      font-size: clamp(10px, 2.5vw, 18px);
    }
  }

  @media (max-width: 480px) {
    gap: 10px;
    padding: 8px 12px;
  }

  @media (max-width: 320px) {
    padding: 6px 8px;
  }
}

.pizzaBaseImg {
  width: 68px;
  height: auto;
  object-fit: contain;

  @media (max-width: 480px) {
    width: 48px;
  }
}

/* --- PARAMS SECTION --- */
.params {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 25px 0;

  @media (max-width: 480px) {
    padding: 20px 0 0 0;
  }
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  gap: 1px;
  border-radius: 30px;
  background: #ececec;
  padding: 2px;

  @media (max-width: 768px) {
    height: 45px;
  }

  @media (max-width: 480px) {
    height: 35px;
  }
}

.selector {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    background: #fff;
    color: black;
  }

  @media (max-width: 768px) {
    font-size: clamp(12px, 2.5vw, 16px);
  }
}

.addToCart {
  display: flex;
  width: 100%;
  gap: 15px;

  @media (max-width: 480px) {
    gap: 10px;
  }
}

.addToCartButton {
  width: 100%;

  background-color: var(--color-brand);
  color: var(--color-bg-primary);
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    height: 50px;
    font-size: clamp(14px, 2.5vw, 18px);
  }
}
