.sort {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-bg-secondary);
  gap: 0.5rem;
  font-weight: var(--font-weight-bold);
  height: 3rem;
  padding: 0 1.25rem;
  border-radius: 1rem;
  min-width: fit-content;
}

.sort_button {
  all: unset;
  text-wrap: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-brand);
      transition: color 0.3s ease;
    }
  }
  span {
    color: var(--color-brand);
  }
}

.sort_options {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;

  background-color: var(--color-bg-secondary);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .sort_comebackbtn {
    display: none;

    @media (max-width: 768px) {
      display: block;

      all: unset;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 10;
    }
  }
}

.sort_option {
  display: block;
  align-items: center;
  cursor: pointer;
  padding: 0.3rem 1rem;
  transition: all 0.25s ease;
  gap: 0.5rem;
  z-index: 10;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-brand-light);
      background: var(--color-bg-hover);
      font-weight: var(--font-weight-bold);
    }
  }
}
