.loginBtn {
  @media (max-width: 520px) {
    background-color: var(--color-brand);
    width: 60px !important;
  }

  @media (max-width: 375px) {
    width: 50px !important;
  }
}

.profile_wrapper {
  @media (max-width: 520px) {
    svg {
      width: 25px;
      height: 25px;

      path {
        stroke: var(--color-bg-primary);
      }
    }
  }

  @media (max-width: 375px) {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.login {
  @media (max-width: 520px) {
    display: none;
  }
}
