@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loaderPopUp {
  display: flex;
  width: 220px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
}

.loaderFiltersBtn {
  height: 55px;
  width: 64px;
  border-radius: 15px;
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
}

.topbar {
  background-color: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topbar_container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 40px 66px;

  @media (max-width: 1200px) {
    justify-content: start;
    gap: 1rem;
  }

  @media (max-width: 425px) {
    padding: 43px 20px;
  }
}

.hamburger {
  display: none;
  
  @media (max-width: 1440px) {
    all: unset;
    width: max-content;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-secondary);
    border-radius: 15px;
    height: 3rem;
    padding: 0 20px;
    cursor: pointer;

    .hamburger_icon {
      width: 24px;
      height: 24px;
    }
  }
}
