.cartItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #f4f1ee;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
  }
}

.cartItem_info_container {
  width: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 425px) {
    flex-direction: column;
    gap: 20px;
  }
}

.cartItem_image {
  width: 65px;
  height: 65px;
  margin-right: 20px;

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 480px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 425px) {
    width: 150px;
    height: 150px;
    margin: 0;
  }
}

.cartItem_info {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  gap: 5px;

  @media (max-width: 768px) {
    max-width: none;
  }
}

.cartItem_name {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;

  @media (max-width: 768px) {
    font-size: clamp(12px, 5vw, 16px);
  }

  @media (max-width: 375px) {
    font-size: clamp(8px, 5vw, 14px);
  }
}

.cartItem_ingredients {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0%;
  color: #a1a1a1;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.cartItem_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 20px;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: space-around;
    gap: 20px;
  }
}

.cartItem_price {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: nowrap;
  color: black;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.cartItem_counter {
  display: flex;
  gap: 9px;
  align-items: center;
  height: 30px;

  span {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  @media (max-width: 768px) {
    height: 50px;
    gap: 15px;

    span {
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    gap: 5px;

    span {
      font-size: 14px;
    }
  }

  @media (max-width: 425px) {
    gap: 10px;
  }
}

.counter_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 10px;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-brand) !important;
    border-radius: 10px;
  }

  @media (max-width: 425px) {
    width: 30px;
    height: 30px;
  }
}

.cartItem_delete_button {
  all: unset;
  transition: all 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    cursor: pointer;
  }

  @media (max-width: 425px) {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
      width: 25px;
      height: 25px;
    }
  }
}
