
.clear_cart_button {
  all: unset;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a1a1a1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  position: absolute;
  top: 34px;
  right: 35px;

  img {
    width: 14px;
    height: 14px;
  }

  @media (pointer: fine) and (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    top: 25px;
    right: 55px;

    img {
      width: 35px;
      height: 35px;
    }

    span {
      display: none;
    }
  }

  @media (max-width: 480px) {
    top: 15px;
    right: 35px;
  }

  @media (max-width: 425px) {
    top: 15px;
    right: 10px;
  }
}