.orderpage_container {
  display: flex;
  flex-direction: column;
  padding: 0 66px 80px 66px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @media (max-width: 480px) {
    padding: 0px 40px;
  }

  @media (max-width: 425px) {
    padding: 0px 20px;
  }
}

.title_section {
  font-family: Nunito;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;

  padding: 49px 0 48px 0;

  @media (max-width: 768px) {
    padding: 24px 0 24px 0;
    font-size: clamp(24px, 5vw, 36px);
  }

  @media (max-width: 375px) {
    font-size: 18px;
  }
}

.orderpage_spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
}

.cart_items {
  position: relative;
  border: 1px solid #f4f1ee;
  border-radius: 30px;
  counter-reset: section-counter;
  padding-left: 35px;

  max-width: 752px;
  width: 100%;
}

.clear_cart_button {
  all: unset;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a1a1a1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  position: absolute;
  top: 32px;
  right: 35px;
}
