.orderpage_container {
  display: flex;
  flex-direction: column;
  padding: 0 66px 80px 66px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @media (max-width: 480px) {
    padding: 0px 40px;
  }

  @media (max-width: 425px) {
    padding: 0px 20px;
  }
}

.title_section {
  font-family: Nunito;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;

  padding: 49px 0 48px 0;

  @media (max-width: 768px) {
    font-size: clamp(24px, 5vw, 36px);
  }

  @media (max-width: 520px) {
    padding: 25px 0 24px 0;
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: clamp(12px, 5vw, 18px);
  }
}

.orderpage_spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 45px;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.cart_items {
  position: relative;
  border: 1px solid #f4f1ee;
  border-radius: 30px;
  counter-reset: section-counter;

  max-width: 752px;
  width: 100%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.cart_items_section {
  padding: 0 35px;
  border-bottom: 1px solid #f4f1ee;

  @media (max-width: 425px) {
    padding: 0;
  }
}

.cart_items_content {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  padding-bottom: 25px;
  padding-top: 15px;
  gap: 30px;
}

.clear_cart_button {
  all: unset;

  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a1a1a1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  position: absolute;
  top: 34px;
  right: 35px;

  img {
    width: 14px;
    height: 14px;
  }

  @media (pointer: fine) and (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    top: 25px;
    right: 55px;

    img {
      width: 35px;
      height: 35px;
    }

    span {
      display: none;
    }
  }

  @media (max-width: 480px) {
    top: 15px;
    right: 35px;
  }

  @media (max-width: 425px) {
    top: 15px;
    right: 10px;
  }
}
