.resultsNotFound {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-50%, -50%);
  margin: 30px auto;
  max-height: 800px;

  .text {
    margin-bottom: 50px;
  }

  @media (max-width: 1440px) {
    align-items: center;
  }

  h1 {
    font-family: Nunito;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 100%;
    text-wrap: nowrap;

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  p {
    color: #999999;

    @media (max-width: 480px) {
      font-size: small;
    }
  }

  img {
    width: 340px;
    height: auto;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 90vw;
      height: 50%;
    }

    @media (max-width: 480px) {
      width: 50vw;
    }
  }
}

.buttonsGroup {
  display: flex;
  gap: 20px;

  @media (max-width: 425px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

.buttonReset {
  transition: all 0.3s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-bg-primary);
      border: 1px solid var(--color-brand);
      background: var(--color-brand);
      transition: color 0.2s ease, background 0.2s ease;
    }
  }
}

.buttonReload {
  width: 130px;
  height: 50px;
  color: #898989;
  border-radius: 15px;
  border: 1px solid #c7c7c7;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #898989;
    }
  }
}
