.cart_items_section {
  padding: 0 35px;
  border-bottom: 1px solid #f4f1ee;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.cart_items_content {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  padding-bottom: 25px;
  padding-top: 15px;
  gap: 30px;
}
