.main_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(244px, auto));
  gap: 48px;
  padding: 0 66px 80px 66px;
  min-height: 100vh;

  @media (max-width: 1440px) {
    grid-template-columns: 100%;
    gap: 0;
    padding: 0 66px 80px 66px;
  }

  @media (max-width: 768px) {
    padding: 0 30px 30px 30px;
  }
}

.modal_container {
  padding: 0 66px 80px 66px;

  @media (max-width: 520px) {
    padding: 0 30px 30px 30px;
  }
}

.loader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1160px) {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.filters_overlay {
  display: none;

  @media (max-width: 1440px) {
    display: block;
    z-index: 80;
    pointer-events: auto;
  }
}

.navbar {
  display: flex;

  @media (max-width: 1440px) {
    flex-direction: column;

    border-radius: 30px;

    position: fixed;

    top: 50%;
    left: 20%;
    right: 20%;
    translate: 0 -50%;

    /* overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; */

    padding: 40px 67px;

    background: var(--color-bg-primary);

    pointer-events: auto;

    z-index: 90;
  }

  @media (max-width: 768px) {
    top: unset;
    left: 5%;
    right: 5%;
    bottom: 0;
    translate: none;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 60px 30px 40px 30px;
  }

  @media (max-width: 425px) {
    padding: 40px 30px 40px 30px;
    left: 30px;
    right: 30px;
  }
}

.navbar_container {
  @media (max-width: 1440px) {
    position: relative;
    height: 100%;
    max-height: 80vh;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: mandatory;
  }
}

.xbtn {
  display: none;

  @media (max-width: 1440px) {
    all: unset;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.line {
  @media (max-width: 768px) {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 50%;
    translate: -50% 0;
    pointer-events: none;
    z-index: 110;

    background: #d9d9d9;
    height: 10px;
    width: 50px;
    border-radius: 10px;
  }
}
