::-webkit-scrollbar {
  display: none;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: min-content;
  gap: 25px;
  position: relative;

  margin-bottom: 25px;
}

.title {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 110.00000000000001%;
  letter-spacing: -0.5px;

  color: black;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}


.card {
  height: 430px;

  @media (max-width: 1024px) {
    height: 200px;
  }

  @media (max-width: 480px) {
    height: auto;
  }
}
