.buttons_group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  gap: 15px;

  @media (max-width: 768px) {
    display: none;
  }
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  background-color: var(--color-brand);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #fff3e5 !important;
      color: var(--color-brand) !important;
      border: 1px solid #fff3e5 !important;

      svg {
        path {
          stroke: var(--color-brand) !important;
        }
      }
    }
  }
}

.navButton svg {
  width: 20px;
  height: 20px;
  stroke: var(--color-brand);
  transition: stroke 0.3s ease;
}

.navButton svg {
  stroke: var(--color-bg-primary);
}
